
body {
    /* text-transform: uppercase; */
    color: #333;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

#board_container {
}

#board_container tbody tr {
    height: 32px;
    font-size: 18px;
}
#board_container thead tr {
    text-align: left;
}

.score_cell {
    width: 32px;
    text-align: center;
    vertical-align: middle;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 800;
}

.case1 {
    border: none;
}

.case2 {
    border: 3px dashed black;
}

.case3 {
    border: 3px solid black;
}

.bg-green {
    background-color: #6e5;
}

.bg-blue {
    background-color: #46e;
}

.bg-yellow {
    background-color: #fe2;
}

.bg-orange {
    background-color: #fa6;
}

.bg-red {
    background-color: #e22;
}

.bg-brown {
    background-color: #854;
    color: white;
}

.bg-black {
    background-color: #444;
    color: white;
}